
body{
	margin:0px;
	margin-left: 0px;
	text-align: center;
	font-family: 'Merriweather', serif;
	color: #40514E;
}
h1{
	margin:50px auto 0 auto;
	font-family: 'Sacramento', cursive;
	font-size:90px;
	color: #66BFBF;
	/*line-height: 2;*/}
h2{
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	font-size:1.5rem;
	color: #66BFBF;
	padding-bottom: 0px;
}
h3{
	margin-top: 0;
	font-family: 'Montserrat', sans-serif;
	color: #11999E;
	
}
hr{
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto 100px auto;
	
}
 
p{
	line-height: 2;
}
div.top{
	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px;
	
}


div.middle-container{
	margin: 100px auto 100px auto;
}
div.bottom-container{
	background-color: #66BFBF;
	padding:50px 0 20px;
	
}
div.bottom{
	
}
.cont{
	text-decoration: underline;
}

.bottom-cloud{
	
	position:absolute;
	left:300px;
	top: 300px;
	}
.top-cloud{
	position:absolute;
	right:300px;
	top: 50px;
}
a{
color: #11999E;
font-family: 'Montserrat', sans-serif;
margin:10px 20px 10px 20px;
text-decoration: none;


}
a:hover{
	color: #EAF6F6;
}
.copyright{
	color: #EAF6F6;
	font-size: 0.75rem;
	padding:20px 0px;
}
.tag{
	font-weight: normal;
	
}	
.skill-row{
	width: 50%;
	margin:100px auto 100px auto;
	text-align: left;
	
	
	
}
.profile{
	margin-top: 20px;
}
.skill-img1{
	float: left;
	margin-right: 30px;
}
.skill-img2{
	float: right;
	margin-left: 30px;
}
.rule{
	width:10%;
	border-style: dotted;
	b
	
}
	.intro{
	width: 30%;
	margin: auto;
	}
	
	.contact-me{
	 width:40%;
	 margin: 80px auto 80px;
	 line-height: 2;
	 
	}
	.contact-message{
	
	 margin: 40px auto 60px;
	 
	 
	}
	
	.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
  text-decoration: none;
}
	
